.bg-login{
	background: url(../img/bg-login.jpg);
	background-repeat: no-repeat;
	background-position: center;
  	background-size: cover;
}
.fw-bold{
	font-weight: bold;
}
.sidebar{
  	background-color: #4e73df;
    background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
	background: url(../img/sidebar.png);
	background-repeat: no-repeat;
	background-position: bottom;
  	background-size: cover;
}